.ProductPageContainer{
    max-width: 1000px;
    width: max-content;
    margin: auto;
    flex-direction: row;
    display: flex;
    background-color:#1a70a5;
}.backgroundGey{
    background-color: #ededed;
}

.ProdcutInfoImg{
    width: 35em;
    height: 35em;
    object-fit: scale-down;
    background-color: white;
    
}.carouselContainer{
    width: 35em;
    height: 35em;
    background-color: #ededed;
}

.detail2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: max-content;
}.detail2 h2{
    font-size: 2em;
    text-align: center;
    
    color: #ededed;
}.detail2 h3{
    font-size: 1.3em;
}.detail3{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 2em;
}.detail2 p {
    font-size: smaller;
    padding: .5em;
    text-align: center;
}
@media (max-width: 1100px){
    .backgroundGey{
        background-color: #1a70a5;
    }
    .ProductPageContainer{
        max-width: 800px;
        width: max-content;
    }
    .ProdcutInfoImg{
        width: 20em;
        height: 25em;
    }.carouselContainer{
        width: 20em;
        height: 25em;
    }.detail2 h2{
        font-size: 1em;
        max-width: 15em;
    }.detail2 h3{
        font-size: .9em;
    }.detail3{
        margin-top: 1em;
    }.detail2 p {
        max-width: 18em;
    }
    
  }
  @media (max-width: 700px ){
    .ProductPageContainer{
       flex-direction: column;
    }
}  @media (max-width: 380px ){
    .ProdcutInfoImg{
        width: 15em;
        height: 20em;
    }.carouselContainer{
        width: 15em;
        height: 20em;
    }
}
