.SideBarContainer{
    
    border-right: solid 1.5px #081F2D;
    padding: 1em 0em;
}
.SideBarItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;

}.SideBarItem h5{
    color: #081F2D;
    transition: ease-in-out 300ms;
    cursor: pointer;
}.SideBarItem h5:hover{
    color: #0b4d75;
}.SideBarItem .SideBarSubItems{
    display: flex;
    flex-direction: column;
    align-items: start;
}.SideBarItem div p{
    font-size: 1em;
    color: #a5a5a5;
    margin-bottom: .3em;
    cursor: pointer;
}.SideBarItem div p:hover{
    color: #5e5e5e;
}.SideBarSubItems div{
    display: flex;
    align-items: baseline;
    gap: .2em;
}
@media (max-width: 700px ){
    .SideBarContainer{
    
        border-bottom: solid 1.5px #081F2D;
        padding: 1em 0em;
    }
    
  }
