.SideBarContainer{
    width: 300px;
    border-right: solid 1.5px #081F2D;
    padding: 1em 0em;
}
.SideBarItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;

}.SideBarItem h5{
    color: #081F2D;
    transition: ease-in-out 300ms;
}.SideBarItem h5:hover{
    color: #0b4d75;
}.SideBarItem .SideBarSubItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}.SideBarItem div p{
    font-size: .8em;
    color: #a5a5a5;
    margin-bottom: .3em;
    cursor: pointer;
}.SideBarItem div p:hover{
    color: #5e5e5e;
}

