.carrito{
    display: flex;
    height: 2em;
    padding: 4px 6px;
    border: solid 1.5px #081F2D;
    border-radius: 50px;
    transition: all 500ms ease-in-out;
}.carrito:hover{
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid #081F2D;
    border-radius: 0;
}
.carritoIcon{
    height: auto;
    padding: 4px 6px;
    margin-top: -.5em;
    
}
.carritoCounter:hover{
    border: none;
}