.Hero1Container{
    height: 80vh;
}.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: -10em;
    margin-bottom: 0em;
}.HeroCaption1 h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: 0em;
    margin-bottom: 0em;
}.HeroCaption2 button{
    margin-bottom: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1100px ){

.Hero1Container{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
    height: 80vh;
    background-image: url(../Hero1/images/hero1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.Hero1Container h2{
    font-size: 1.4em;
    color: #e3e3e3;
    max-width: 12em;
    margin-left: 0;
    margin-bottom: 6em;
}


}