.MainContainer {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr; 
    grid-gap: 20px; 
  }
  @media (max-width: 1100px ){
    .MainContainer{
      grid-template-columns: 0.3fr 0.7fr; 
    }
    
  } 
   @media (max-width: 700px ){
    .MainContainer{
      display: flex;
      flex-direction: column;
    }
    
  }

  
