.pagination {
    border: solid 1.5px #000000;
    border-radius: 15px;
    background-color: #081F2D;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    
  }.pagination a:hover{
    background-color: #cccaca;
    color: #081F2D;
    transition: ease-out 350ms;
  }
  
.paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
 
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 15px;
    color: #cccaca;
  }

  @media (max-width: 1100px ){
    .pagination a {
      padding: 4px 8px;
    }
  
  }