.ProductcardContainer{
    width: min-content;
    height: 19em;
    border-radius: 20px;
    border: solid 1.5px #081F2D;
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #081F2D;
    transition: ease-out 300ms;
}
.PrecioProducto{
    font-size: 1em;
}.NombreProducto{
    font-size: .9em;
    text-align: center;
    padding: .5px 2px;
}
.ProductcardContainer:hover{
    box-shadow: 1px 1px 38px 2px rgba(60,59,59,1);
    -webkit-box-shadow: 1px 1px 38px 2px rgba(60,59,59,1);
    -moz-box-shadow: 1px 1px 38px 2px rgba(60,59,59,1);
}
.Info1{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5em;
    margin-bottom: -.4em;
}.Info2{
    margin-top: 0em;
}.Info2 *{
    font-size: .9em;
    padding: 1px 4px;
}
.ProdcutImg{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 220px;
    height: 250px;
    object-fit: scale-down;
    background-color: white;
}.carousel-indicators{
    display: none;
}
@media (max-width: 1100px ){
.ProdcutImg{
    width: 15em;
    height: 18.5em;
    
}.Info1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: .5em;
}.Info2{
    margin-bottom: -.5em;
}.NombreProducto{
    margin-top: .5em;
}
}
@media (max-width: 360px ){
    .ProdcutImg{
        width: 13em;
        height: 15em;
    }.Info1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin-top: .5em;
    }.Info2{
        margin-bottom: 1.5em;
    }.NombreProducto{
        margin-top: .5em;
    }.ProductcardContainer{
        height: 18em;
    }
}