  .buttonIcon{
    border: none;
    background: none;
    cursor: pointer;
    color: black;
  }.padding{
    padding: .3em;
  }
  @media (max-width: 1100px ){
    .icon{
      width: 20px;
      height: 20px;
    }
  }