.Toggle{
    display: flex;
    gap: .3em;
    background: none;
    border: none;
    align-items: baseline;
}
.SideBarItem .SideBarSubItemsC{
    display: flex;
    flex-direction: column;
    align-items: center;
}